<div>
  <p>These are the buildings I know about</a>
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Building name</th>
        <th>Building code</th>
      </tr>
    </thead>
    <tbody>
      <% @buildings.each do |building| %>
        <tr id="<%= building.id %>">
          <td><%= building.building_name %></td>
          <td><%= building.building_code %></td>
          <td>
            <a href="/buildings/<%= building.id %>/edit">Edit</a>
            |
            <a href="/buildings/<%= building.id %>/delete" onClick="return confirm('Are you sure you want to delete this building');">Delete</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
